## Data loading

In [2]:
import pandas as pd

In [3]:
Data=pd.read_csv("House Price Prediction Dataset.csv")

## Print 5 Rows

In [4]:
Data.head()

,Id,Area,Bedrooms,Bathrooms,Floors,YearBuilt,Location,Condition,Garage,Price
0,1,1360,5,4,3,1970,Downtown,Excellent,No,149919
1,2,4272,5,4,3,1958,Downtown,Excellent,No,424998
2,3,3592,2,2,3,1938,Downtown,Good,No,266746
3,4,966,4,2,2,1902,Suburban,Fair,Yes,244020
4,5,4926,1,4,2,1975,Downtown,Fair,Yes,636056

## Print Bottom 5 Rows

In [5]:
Data.tail()

,Id,Area,Bedrooms,Bathrooms,Floors,YearBuilt,Location,Condition,Garage,Price
1995,1996,4994,5,4,3,1923,Suburban,Poor,No,295620
1996,1997,3046,5,2,1,2019,Suburban,Poor,Yes,580929
1997,1998,1062,5,1,2,1903,Rural,Poor,No,476925
1998,1999,4062,3,1,2,1936,Urban,Excellent,Yes,161119
1999,2000,2989,5,1,3,1903,Suburban,Fair,No,482525

## Print No of rows and Columns

In [6]:
print('rows:',Data.shape[0])
print('columns',Data.shape[1])

rows: 2000
columns 10

## Determine null values

In [7]:
Data.isnull().sum

<bound method DataFrame.sum of          Id   Area  Bedrooms  Bathrooms  Floors  YearBuilt  Location  \
0     False  False     False      False   False      False     False
1     False  False     False      False   False      False     False
2     False  False     False      False   False      False     False
3     False  False     False      False   False      False     False
4     False  False     False      False   False      False     False
...     ...    ...       ...        ...     ...        ...       ...
1995  False  False     False      False   False      False     False
1996  False  False     False      False   False      False     False
1997  False  False     False      False   False      False     False
1998  False  False     False      False   False      False     False
1999  False  False     False      False   False      False     False

      Condition  Garage  Price
0         False   False  False
1         False   False  False
2         False   False  False
3         False   False  False
4         False   False  False
...         ...     ...    ...
1995      False   False  False
1996      False   False  False
1997      False   False  False
1998      False   False  False
1999      False   False  False

[2000 rows x 10 columns]>

## Filling null value using mean, mode, median

In [8]:
Data = Data.fillna(Data.mean)
Data = Data.fillna(Data.median)
Data = Data.fillna(Data.mode)

## Data type of each column

In [9]:
Data.dtypes

Id            int64
Area          int64
Bedrooms      int64
Bathrooms     int64
Floors        int64
YearBuilt     int64
Location     object
Condition    object
Garage       object
Price         int64
dtype: object