## Data loading

In [9]:
import pandas as pd

In [10]:
Data=pd.read_csv("EW-MAX.csv")

## Print 5 Rows

In [11]:
Data.head()

        Date      Open      High       Low     Close  Adj_Close   Volume
0  2000/3/27  3.812500  4.156250  3.812500  4.125000   4.125000  3675600
1  2000/3/28  4.125000  4.125000  4.000000  4.015625   4.015625  1077600
2  2000/3/29  4.000000  4.031250  3.953125  4.000000   4.000000   437200
3  2000/3/30  4.000000  4.000000  3.843750  3.843750   3.843750  1883600
4  2000/3/31  3.734375  3.734375  3.390625  3.390625   3.390625  7931600

## Print Bottom 5 Rows

In [12]:
Data.tail()

,Date,Open,High,Low,Close,Adj_Close,Volume
4387,2017/9/1,113.790001,114.099998,112.790001,113.309998,113.309998,950000
4388,2017/9/5,112.519997,113.529999,111.160004,111.870003,111.870003,1805200
4389,2017/9/6,112.029999,112.489998,110.250000,112.230003,112.230003,2136700
4390,2017/9/7,112.459999,112.900002,112.000000,112.339996,112.339996,1251600
4391,2017/9/8,112.300003,114.790001,112.010002,113.190002,113.190002,1611700

## Print No of rows and Columns

In [13]:
print('rows:',Data.shape[0])
print('columns',Data.shape[1])

rows: 4392
columns 7

## Determine null values

In [14]:
Data.isnull().sum

<bound method DataFrame.sum of        Date   Open   High    Low  Close  Adj_Close  Volume
0     False  False  False  False  False      False   False
1     False  False  False  False  False      False   False
2     False  False  False  False  False      False   False
3     False  False  False  False  False      False   False
4     False  False  False  False  False      False   False
...     ...    ...    ...    ...    ...        ...     ...
4387  False  False  False  False  False      False   False
4388  False  False  False  False  False      False   False
4389  False  False  False  False  False      False   False
4390  False  False  False  False  False      False   False
4391  False  False  False  False  False      False   False

[4392 rows x 7 columns]>

## Filling null value using mean, mode, median

In [15]:
Data = Data.fillna(Data.mean)
Data = Data.fillna(Data.median)
Data = Data.fillna(Data.mode)

## Data type of each column

In [16]:
Data.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj_Close    float64
Volume         int64
dtype: object